<div class="page_container">

  <div class="page_header">

    <div class="header_top">
      <div class="header_links">
        <div class="link_container">
          <span class="link_background">
            <span>orçamentos</span>
          </span>
        </div>

        <div class="link_container">
          <span class="link_background">
            <span>serviços</span>
          </span>
        </div>

        <div class="link_container">
          <span class="link_background">
            <span>sobre</span>
          </span>
        </div>

        <div class="link_container">
          <span class="link_background">
            <span>portfólio</span>
          </span>
        </div>
      </div>

      <div class="header_about">

        <h3>Criando aplicações robustas, criativas e eficientes, com foco em inovação, performance e entrega de valor.
        </h3>
        <h3>💻 Experiência em Angular, React, Node.js, Spring e muito mais. </h3>
        <h3>🔍 Da concepção ao deploy, conectando tecnologia a resultados e resultados ao sucesso.</h3>

      </div>

    </div>

    <div class="header_footer">
      <h2> KAYKY RODRIGUES <span class="footer_bold">FULL STACK DEVELOPER</span> </h2>
    </div>

  </div>

  <div class="page_about">


    <div class="about_photo">
      <img src="aboutPhoto.png" height="550" width="550" alt="Kayky Rodrigues">
    </div>

    <div class="about">

      <div class="about-name">
        KAYKY RODRIGUES
      </div>

      <div class="about-text">
        <span>
          Sou Kayky Rodrigues, um desenvolvedor apaixonado por transformar ideias em soluções reais. Com mais
          de dois anos de experiência em desenvolvimento de aplicações web, domino as tecnologias mais modernas do
          mercado, como Angular, React, Node.js, Java, e Python. Minha missão é criar sistemas robustos, APIs eficientes
          e interfaces dinâmicas que encantam pela performance e usabilidade.
        </span>

        <span>
          Mais do que codificar, acredito na construção de experiências. Cada linha de código que escrevo reflete meu
          compromisso com a inovação, excelência técnica e entrega de valor. Minha jornada é guiada pela constante busca
          de evolução, seja aprendendo novas ferramentas, seja aprimorando processos e estratégias.
        </span>

      </div>

    </div>

  </div>

</div>
